[submodule "src/lv_demos"]
	path = src/lv_demos
	url = https://github.com/lvgl/lv_demos
[submodule "src/lvgl"]
	path = src/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "src/lv_drivers"]
	path = src/lv_drivers
	url = https://github.com/bastien8060/PokePi_lv_drivers
